# Node
node_modules

# Vite
dist
dist-ssr
.vite

# Electron
.electron

# IDE
.idea
.vscode

# Ignore user-specific credential, token, and config files for plugins
plugins/**/token.json
plugins/**/credentials.json
plugins/**/calendar_config.json